[0;1;32m●[0m celery.service - Celery Service
     Loaded: loaded (]8;;file://v116806.dpvps.com.au/etc/systemd/system/celery.service/etc/systemd/system/celery.service]8;;; [0;1;38;5;185mdisabled[0m; preset: [0;1;38;5;185mdisabled[0m)
     Active: [0;1;32mactive (running)[0m since Tue 2024-12-10 12:48:48 AEDT; 97ms ago
    Process: 1287326 ExecStart=/home/ehon/virtualenv/public_html/cs_fms/3.11/bin/celery -A cs_fms multi start worker --loglevel=info --concurrency=10 --logfile=/home/ehon/public_html/cs_fms/logs/celery.log --pidfile=/home/ehon/public_html/cs_fms/celery.pid (code=exited, status=0/SUCCESS)
   Main PID: 1287331 (python3.11_bin)
      Tasks: 1 (limit: 24738)
     Memory: 7.2M
     CGroup: /system.slice/celery.service
             └─[0;38;5;245m1287331 /home/ehon/virtualenv/public_html/cs_fms/3.11/bin/python3.11_bin -m celery -A cs_fms worker --loglevel=info --concurrency=10 --logfile=/home/ehon/public_html/cs_fms/logs/celery.log --pidfile=/home/ehon/public_html/cs_fms/celery.pid -n worker@v116806.dpvps.com.au --executable=/home/ehon/virtualenv/public_html/cs_fms/3.11/bin/python3.11_bin[0m

Dec 10 12:48:47 v116806.dpvps.com.au systemd[1]: Starting Celery Service...
Dec 10 12:48:48 v116806.dpvps.com.au celery[1287326]: celery multi v5.4.0 (opalescent)
Dec 10 12:48:48 v116806.dpvps.com.au celery[1287326]: > Starting nodes...
Dec 10 12:48:48 v116806.dpvps.com.au celery[1287326]:         > worker@v116806.dpvps.com.au: OK
Dec 10 12:48:48 v116806.dpvps.com.au systemd[1]: Started Celery Service.
