* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial;
}
body {
    min-height: auto;
    background: white center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section.topborder{
    position:absolute;
    width: 100%;
    left: 0vw;
    top: 0px;
    height: 64px;
    background-color: #e8e8e84f;
    text-align: left;
  }
.home{
    position: absolute;
    top: 50%;
    left: 36.5px;
    transform: translate(-50%, -50%);
  }
  .border{
    width: 76px;
    height: calc(100% - 64px);
    background-color: #e8e8e84f;
    position: absolute;
    left: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    top: 64px;
  }
.button-link {
    text-decoration: none;
    margin: 5px;
    color: #e2e1e1;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
    margin-top:25px;
}
.button-link:hover {
    width: 80%;
    color: #F7901E;
    box-shadow: 0 .1rem .4rem #0002;
    border-radius: 0.8rem;
}
main.table {
    width: calc(100% - 71px);
    height: 94%;
    background-color: #fff5;
    position: absolute;
    left: 71px;
    top: 61px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    overflow: hidden;
    border-start-start-radius: .8rem;
    background-repeat: no-repeat;
    background-size: cover;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: auto;
    z-index: 1;
  }
table {
    width: 100%;
}

h1{
    color: #EC1C1C;
    font-weight: bold;
    font-size: 1.7vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}
.Title{
    position: relative;
    width: 100;
    height: 12vh;
    background-color: #0362bb23;
}
h2{
    position: relative;
    left: 37%;
    top: 1vh;
    color: #ff0000;
    font-weight: bold;
    font-size: 60px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}
.search-container{
    position: absolute;
    left: 38vw;
    top: 18vh;
    margin: 10px;
    font-weight: bold;
    font-size: 48px;
    text-align: center;
}
.search-input{
    font-size: 30px;
}
/* CSS for the search button */
.search-button {
    padding: 10px 20px;
    font-size: 24px;
    margin-top: 10px; /* Added margin-top */
    background-color: var(--text-link); /* Button background color */
    color: white; /* Button text color */
    border: none;
    cursor: pointer;
    border-radius: 10%;
}

.search-button:hover {
    background-color: #F7901E; /* Button background color on hover */
    color: #fff; /* Button text color on hover */
}
.search-input {
    width: 300px; /* Set the desired width */
    height: 40px; /* Set the desired height */
    font-size: 24px; /* Set the desired font size */
    text-align: center;
}
  .table__header {
    width: 100%;
    height: 8%;
    background-color: #d7d7d7bf;
    padding: .8rem 1rem;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: #fff5;
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff8;
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: #fff8;
    box-shadow: 0 .1rem .4rem #0002;
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
    
    
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: 99%;
    max-height: calc(89% - 1.6rem);
    background-color: #fffb;

    margin: .8rem auto;
    border-radius: .6rem;

    overflow: auto;
    overflow: overlay;
}

.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: #0004;
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

h1{
    color: #ff0000;
    font-weight: bold;
    font-size: 36px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}
table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: left;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: #002e60;
    color: white;
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    /*background-color: #fff6 !important;*/
    background-color: #f7921e70 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #F7901E;
}

thead th:hover {
    color: #F7901E;
}

thead th.active span.icon-arrow{
    background-color: #F7901E;
    color: #fff;
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: #F7901E;
}

.export__file {
    position: relative;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: #fff6 url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: #fff;
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem #0004;
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: #f2f2f2;
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: #fff;
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
.sign svg {
    width: 32px;
  }
  
  .sign svg path {
    fill: var(--text-primary);
  }
  .button-link:hover .sign path {
    fill: #F7901E;
}
.reset-btn {
    background-color: #2A2F81; /* Red color from logo */
    color: white;
    border: none;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s, box-shadow 0.3s;
}

.reset-btn:hover {
    background-color: #D62027; /* Blue color from logo */
    box-shadow: 0px 2px 8px rgba(42, 47, 129, 0.6);
}

.reset-btn:active {
    transform: scale(0.97);
    background-color: #2A2F81;
}
