* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial;
}
body {
    min-height: auto;
    background: var(--bg-primary) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
section.topborder{
    position:absolute;
    width: 100%;
    left: 0vw;
    top: 0px;
    height: 64px;
    background-color: #000000da;
    text-align: left;
  }
.home{
    position: absolute;
    top: 50%;
    left: 36.5px;
    transform: translate(-50%, -50%);
  }
  .border{
    width: 76px;
    height: calc(100% - 64px);
    background-color: #000000da;
    position: absolute;
    left: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow-y: hidden;
    top: 64px;
  }
.support{
    position:absolute;
    width: 10px;
    right: 4%;
}
.button-link {
    display: inline-flexbox;
    text-decoration: none;
    margin: 5px;
    color: #e2e1e1;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
}
.button-link:hover {
    width: 55%;
    color: var(--accent-warning);
    box-shadow: 0 .1rem .4rem var(--shadow-sm);
}
.button-text {
    display: inline-block;
    font-weight: bold;
    font-size: 300%;
}

.button-text2 {
    display: inline-block;
    font-size: 60px;
    top: 70%;
}

.bottom{
    width: calc(100% - 76px);
    height: 64px;
    background-color: #000000da;
    position: absolute;
    bottom: 0px;
    left: 76px;
  }
main.table {
    width: calc(100% - 71px);
    height: 94%;
    background-color: var(--table-main-bg);
    position: absolute;
    left: 71px;
    top: 61px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem var(--shadow-md);
    overflow: hidden;
    border-start-start-radius: .8rem;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: auto;
    z-index: 1;
  }
.logo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9rem;
    height: auto;
    z-index: 1;
  }
.table__header {
    width: 100%;
    height: 8%;
    background-color: #a3a3a3;
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: var(--table-main-bg);
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-card);
    transition: .2s;
}

.table__header .input-group:hover {
    width: 45%;
    background-color: var(--bg-card);
    box-shadow: 0 .1rem .4rem var(--shadow-sm);
}

.table__header .input-group img {
    width: 1.2rem;
    height: 1.2rem;
    
    
}

.table__header .input-group input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: calc(100% - 10px);
    max-height: calc(92% - 1.6rem);
    background-color: var(--table-body-bg);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: overlay;
    position: absolute;
    left: 10px;
    margin-right: 5%;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: var(--scrollbar-thumb);
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

h1{
    color: var(--accent-warning);
    font-weight: bold;
    font-size: 2vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

h1 img {
    width: 5.5vw;
    height: 5.7vh;
    margin-right: .5rem;
    border-radius: 1%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bg-dark);
    color: var(--text-inverse);
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    background-color: var(--bg-accent);
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    /*background-color: var(--bg-secondary) !important;*/
    background-color: #f7921e70 !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: .4rem 0;
    border-radius: 1rem;
    text-align: center;
    background-size: 100% 100%;
}

.status.delivered {
    background-color: #86e49d;
    color: var(--text-primary);
}

.status.cancelled {
    background-color: #d893a3;
    color: var(--text-primary);
}

.status.pending {
    background-color: #f5e97c;
    color: var(--text-primary);
}

.status.empty {
    background-color: #6fcaea;
    color: var(--text-primary);
}


@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #F7901E;
}

thead th:hover {
    color: var(--accent-warning);
}

thead th.active span.icon-arrow{
    background-color: var(--accent-warning);
    color: var(--text-inverse);
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: var(--accent-warning);
}

.export__file {
    position: relative;
    right: 4%;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 2rem;
    height: 2rem;
    background: var(--bg-secondary) url(images/export.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: var(--bg-primary);
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem var(--scrollbar-thumb);
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: var(--bg-secondary);
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: var(--bg-primary);
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
.sign svg {
    width: 32px;
  }
  
  .sign svg path {
    fill: white;
  }
  .button-link:hover .sign path {
    fill: #F7901E;
}
.buttonbell {
    width: 40px;
    height: 40px;
    position: absolute;
    left: -19px;
    top:1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(44, 44, 44);
    border-radius: 50%;
    cursor: pointer;
    transition-duration: .3s;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.13);
    border: none;
  }
  
  .bell {
    width: 18px;
  }
  
  .bell path {
    fill: white;
  }
  
  .buttonbell:hover {
    background-color: rgb(56, 56, 56);
  }
  
  .buttonbell:hover .bell {
    animation: bellRing 0.9s both;
  }
  
  /* bell ringing animation keyframes*/
  @keyframes bellRing {
    0%,
    100% {
      transform-origin: top;
    }
  
    15% {
      transform: rotateZ(10deg);
    }
  
    30% {
      transform: rotateZ(-10deg);
    }
  
    45% {
      transform: rotateZ(5deg);
    }
  
    60% {
      transform: rotateZ(-5deg);
    }
  
    75% {
      transform: rotateZ(2deg);
    }
  }
  
  .buttonbell:active {
    transform: scale(0.8);
  }
  a.site-link {
    color: #002F60; /* Set the desired link color */
    text-decoration: none; /* Remove underline */
  }

  a.site-link:hover {
    color: var(--accent-warning); /* Set the desired link color on hover */
  }

.hoverable {
    cursor:pointer;
    color: #002F60;
    text-decoration: underline;

    }