* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}

body {
    min-height: 100vh;
    background: white center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
section.topborder{
    position:absolute;
    left: 0vw;
    top: 0px;
    width: 100%;
    height: 7vh;
    background-color: #000000da;
    text-align: left;
    display: flex;
}
.home{
    position: absolute;
    top: 50%;
    left: 2.5vw;
    transform: translate(-50%, -50%);
}
.border{
    width: 5vw;
    height: 86vh;
    background-color: rgba(0, 0, 0, 0.855);
    position: absolute;
    left: 0%;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.button-link {
    display: inline-flexbox;
    text-decoration: none;
    margin: 5px;
    color: #e2e1e1;
    transition: background-color 0.3s;
    background-color: transparent;
    border: none;
}
.button-link:hover {
    width: 45%;
    color: #F7901E;
    fill: #F7901E;
    box-shadow: 0 .1rem .4rem #0002;
}
.button-text {
    display: inline-block;
    font-weight: bold;
    font-size: 48px;
    top: 70%;
}

.button-text2 {
    display: inline-block;
    font-size: 60px;
    top: 70%;
}

.bottom{
    width: 100vw;
    height: 7vh;
    background-color: #000000da;
    position: absolute;
    bottom: 0%;
    left: 0vw;
}
main.table {
    width: 95vw;
    height: 88vh;
    background-image: url(images/backg2.png);
    background-size:cover;
    position: fixed;
    left: 5vw;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;

    overflow: hidden;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10rem;
    height: auto;
    z-index: 1;
  }
.logo2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 9rem;
    height: auto;
    z-index: 1;
  }
h2 {
    position: absolute;
    text-align: justify;
    color: #ffffff;
    top: 0px;
    margin: 0;
    padding: 20px;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(255, 94, 0, 0.61);
}
.text {
    position: absolute;
    top: 12vh;
    right: 10vw;
    width: 750px;
    height: 500px;
    background-color: #08073f55;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

ul {
    padding-left: 20px;
    font-size: 20px;
    color: #ffffff;
}

p {
    margin: 0;
    padding: 20px;
    text-align: justify;
    color: #ffffff;
}

  .sign svg {
    width: 32px;
  }
  
  .sign svg path {
    fill: var(--text-primary);
  }
  .button-link:hover .sign path {
    fill: #F7901E;
}
