.details-grid {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
}

.mg-top-16px {
    margin-top: 32px;
}

.display-64 {
    color: #fff;
    font-size: 80px;
    font-weight: 600;
    line-height: 1.333em;
}

.fqcard {
    background-color: var(--text-link);
    border: .6px solid #343b4f;
    border-radius: 12px;
    box-shadow: 0 2px 7px rgba(20, 20, 43, .06);
}

.fqcard.top-details {
    z-index: 1;
    grid-row-gap: 16px;
    border-radius: 8px;
    flex-direction: column;
    padding: 20px;
    display: flex;
    position: relative;
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
}

.fqcard:hover {
    background-color: #02233b;
}

.fqcard:active {
    transform: translateY(4px);
    box-shadow: 0 7px 12px rgba(0, 0, 0, 0.692);
}

input[type="number"],
input[type="time"] {
    background-color: #011a37;
    padding: 0.5rem;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    font-size: 18px;
    border: none;
    outline: none;
    border-radius: 5px;
    max-width: 6rem;
    text-align: center;
}

.dataTables_wrapper {
    width: 100% !important;
}

.dataTables_scrollHeadInner,
.dataTables_scrollFootInner {
    width: 100% !important;
    box-sizing: content-box;
    padding-right: 0px;
}

.dataTable {
    width: 100% !important;
    margin-left: 0px;
}

#customers_table {
    width: 100% !important;
}

.dataTable tfoot th {
    text-align: right;
    width: auto !important;
}

.sort-arrow {
    cursor: pointer;
    padding-left: 5px;
    font-size: 12px;
}
