/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
    font-family: Arial;
}
body {
    min-height: auto;
    background: var(--bg-primary) center / cover;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.button-js {
    font-weight: bold;
    font-size: 18px;
    background-color: var(--bg-dark);
    cursor: pointer;
    color: var(--text-inverse);
    transition: 0.4s;
    border-radius: 0.4rem;
    padding: 0.2rem;
    margin: 1rem;
}
.button-js:hover{
    transform: scale(1.2);
}
main.table {
    width: calc(100% - 76px);
    height: 94%;
    background-color: var(--table-main-bg);
    position: absolute;
    left: 71px;
    top: 61px;
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem var(--shadow-md);
    overflow: hidden;
    border-start-start-radius: .8rem;
}
.table__header {
    width: 100%;
    height: 4.5rem;
    background-color: var(--bg-tertiary);
    padding: .8rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.table__header .input-group {
    width: 35%;
    height: 100%;
    background-color: var(--table-main-bg);
    padding: 0 .8rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--bg-card);
    transition: .2s;
    display: none;
}
#customers_table_filter{
    width: 20%;
    height: 100%;
    background-color: var(--table-main-bg)!important;
    padding: 0 .8rem;
    border-radius: 2rem;
    justify-content: center;
    align-items: center;
    background: var(--bg-card);
    transition: .2s;
    border:solid;
    border-width: thin;
    border-color: rgba(116, 116, 116, 0.288);
    position: relative;
    right: 2%;
}

#customers_table_filter:hover {
    width: 45%;
    background-color: var(--bg-card);
    box-shadow: 0 .1rem .4rem var(--shadow-sm);
}

#customers_table_filter img {
    width: 1.2rem;
    height: 1.2rem;
    
    
}

#customers_table_filter input {
    width: 100%;
    padding: 0 .5rem 0 .3rem;
    background-color: transparent;
    border: none;
    outline: none;
}

.table__body {
    width: calc(100% - 10px);
    max-height: calc(92% - 1.6rem);
    background-color: var(--table-body-bg);
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: overlay;
    position: absolute;
    left: 10px;
    margin-right: 5%;
    padding-right: 50px;
}


.table__body::-webkit-scrollbar{
    width: 0.5rem;
    height: 0.5rem;
}

.table__body::-webkit-scrollbar-thumb{
    border-radius: .5rem;
    background-color: var(--scrollbar-thumb);
    visibility: hidden;
}

.table__body:hover::-webkit-scrollbar-thumb{ 
    visibility: visible;
}

table {
    width: 100%;
}

h1{
    color: var(--accent-danger);
    font-weight: bold;
    font-size: 1.7vw;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4); 
}

h1 img {
    width: 100px;
    height: auto;
    margin-right: .5rem;
    border-radius: 1%;
    vertical-align: middle;
}

table, th, td {
    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    background-color: var(--bg-dark);
    color: var(--text-inverse);
    cursor: pointer;
    text-transform: capitalize;
    z-index: 2;
}

tbody tr:nth-child(even):not(.expanded-details) {
    background-color: var(--bg-accent);
}

tbody tr {
    animation-delay: 0.1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    transform: translateX(100%);
    display:none;
    opacity: 0;
}

tbody tr:not(.expanded-details):hover {
    /*background-color: var(--bg-secondary) !important;*/
    background-color: var(--table-row-hover) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}
td img{
    height: 32px;
    width: 32px;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}
.status {
    padding: .4rem 0;
    border-radius: 1rem;
    text-align: center;
    background-size: 100% 100%;
}

.status.delivered {
    background-color: #86e49d;
    color: var(--text-primary);
}

.status.cancelled {
    background-color: #d893a3;
    color: var(--text-primary);
}

.status.pending {
    background-color: #f5e97c;
    color: var(--text-primary);
}

.status.empty {
    background-color: #6fcaea;
    color: var(--text-primary);
}




thead th span.icon-arrow {
    display: inline-block;
    width: 1.3rem;
    height: 1.3rem;
    border-radius: 50%;
    border: 1.4px solid transparent;
    
    text-align: center;
    font-size: 1rem;
    
    margin-left: .5rem;
    transition: .2s ease-in-out;
}

thead th:hover span.icon-arrow{
    border: 1.4px solid #F7901E;
}

thead th:hover {
    color: var(--accent-warning);
}

thead th.active span.icon-arrow{
    background-color: var(--accent-warning);
    color: var(--text-inverse);
}

thead th.asc span.icon-arrow{
    transform: rotate(180deg);
}

thead th.active,tbody td.active {
    color: var(--accent-warning);
}

.export__file {
    position: relative;
    right: 5px;
}

.export__file .export__file-btn {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    background: var(--bg-secondary) url(/vmi/images/EHON-VMI_icons-REPORTS.png) center / 80% no-repeat;
    border-radius: 50%;
    transition: .2s ease-in-out;
}

.export__file .export__file-btn:hover { 
    background-color: var(--bg-primary);
    transform: scale(1.15);
    cursor: pointer;
}

.export__file input {
    display: none;
}

.export__file .export__file-options {
    position: absolute;
    right: 0;
    
    width: 12rem;
    border-radius: .5rem;
    overflow: hidden;
    text-align: center;

    opacity: 0;
    transform: scale(.8);
    transform-origin: top right;
    
    box-shadow: 0 .2rem .5rem var(--scrollbar-thumb);
    
    transition: .2s;
}

.export__file input:checked + .export__file-options {
    opacity: 1;
    transform: scale(1);
    z-index: 100;
}

.export__file .export__file-options label{
    display: block;
    width: 100%;
    padding: .6rem 0;
    background-color: var(--bg-secondary);
    
    display: flex;
    justify-content: space-around;
    align-items: center;

    transition: .2s ease-in-out;
}

.export__file .export__file-options label:first-of-type{
    padding: 1rem 0;
    background-color: #86e49d !important;
}

.export__file .export__file-options label:hover{
    transform: scale(1.05);
    background-color: var(--bg-primary);
    cursor: pointer;
}

.export__file .export__file-options img{
    width: 2rem;
    height: auto;
}
.sign svg {
    width: 32px;
  }
  
  .sign svg path {
    fill: white;
  }
  .button-link:hover .sign path {
    fill: #F7901E;
}
  a.site-link {
    color: #002F60; /* Set the desired link color */
    text-decoration: none; /* Remove underline */
  }

  a.site-link:hover {
    color: var(--accent-warning); /* Set the desired link color on hover */
  }
.icon.flat-color {
    stroke: #ffffff;
    stroke-width: 0.624;
    }
      
#primary {
    fill: #040404;
    }
      
#secondary {
    fill: #ffffff;
    }
.progress-bar {
    position: relative;
    height: 20px;
    width: 100px;
    background-color: var(--bg-primary);
    border-radius: 4px;
    overflow: hidden;
    z-index: 1;
    box-shadow: 0 .1rem .4rem #000000a8;
    }
    
    .progress-bar .greenprogress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: #4caf50;
    transition: width 0.3s ease-in-out;
    }
    .progress-bar .redprogress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: red;
    transition: width 0.3s ease-in-out;
    }
    .progress-bar .yellowprogress {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: yellow;
    transition: width 0.3s ease-in-out;
    }
    
    .progress-bar .percentage {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    color: var(--text-primary);
    text-align: center;
    z-index: 1;
    width: 100%;
    }
    .lay{
    margin-top: 25px;
    }
    .content{
    display: none;
}
.chart1 {
    width: 800px; 
    height: 400px;
    margin-top: 20px;
    margin-left: 100px; 
    overflow: overlay; 
  }
.left-info{
    min-width: 28rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.basic-info {
    max-width: 40rem;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info_text{
    margin-top: 30px;
    background-color: var(--bg-primary);
    backdrop-filter: blur(30px);
    border-radius: 0.8rem;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 15rem;
    display: flex;
    flex-direction: column;
}
.tanks_div{
    display: flex;
}
.tankginfo_text{
    max-width: 26rem;
    margin-left: 90px;
    margin-top: 30px;
    background-color: var(--bg-primary);
    backdrop-filter: blur(30px);
    border-radius: 0.8rem;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
#customers_table_filter label{
    display: flex;
}
.minfo{
    position: absolute;
    display: flex;
    overflow: hidden;
    top: 50px;
}
.recip{
    margin-bottom:5px;
    background-color: var(--bg-accent);
    border-radius: 0.4rem;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
}
.site-upd{
    position: absolute;
    margin-bottom: 15px;
    bottom: 150px;
    display: grid;
    left: 370px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    padding: 11px;
    border-radius: 0.8rem;
}
.alert-inputs{
    /* position: absolute; */
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    height: 11rem;
    width: 16rem;
    margin-top: 40px;
    display: flex;
    margin-left: 100px;
    border-radius: 0.8rem;
    justify-content: center;
}
.alert-upd{
    width: 15rem;
    height: 165px;
    display: grid;
}
.child_details{
    position: relative;
    overflow: overlay;
}
.menu_items{
    position: absolute;
    height: 30px;
    
}
[class^="alert_info"] {
    height: 26rem;
    top: 50px;
    position: absolute;
    background: var(--bg-primary);
    display: none;
    min-width: 90rem;
}
[class^="tank_info"] {
    min-height: 26rem;
    top: 50px;
    position: absolute;
    background: var(--bg-primary);
    display: none;
    min-width: 90rem;
}
[class^="temp_info"] {
    height: 26rem;
    top: 50px;
    position: absolute;
    background: var(--bg-primary);
    display: none;
    min-width: 90rem;
}
.nav-items{
    border-collapse: collapse;
    padding: 5px;
}
[class^="navigation-item1"]{
    background-color: #e1e1e166;
    border: hidden;
    color: var(--text-primary);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
[class^="navigation-item2"]{
    background-color: #e1e1e166;
    border: hidden;
    color: var(--text-primary);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
[class^="navigation-item3"]{
    background-color: #e1e1e166;
    border: hidden;
    color: var(--text-primary);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
[class^="navigation-item4"]{
    background-color: #e1e1e166;
    border: hidden;
    color: var(--text-primary);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
[class^="navigation-item5"]{
    background-color: #e1e1e166;
    border: hidden;
    color: var(--text-primary);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
[class^="navigation-item6"]{
    background-color: #e1e1e166;
    border: hidden;
    color: var(--text-primary);
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.alerts_div{
    position: absolute;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    height: 11.5rem;
    max-width: 32rem;
    top: 20px;
    left: 50px;
    border-radius: 0.8rem;
    justify-content: start;
}
.recip1{
    margin-bottom: 5px;
    background-color: var(--bg-accent);
    border-radius: 0.4rem;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 1px;
    text-align: center;
    position: absolute;
    left: 195px;
}
.recip2{
    margin-bottom: 5px;
    background-color: var(--bg-accent);
    border-radius: 0.4rem;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 1px;
    text-align: center;
    position: absolute;
    left: 195px;
    top: 45px;
}
.recip3{
    margin-bottom: 5px;
    background-color: var(--bg-accent);
    border-radius: 0.4rem;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 1px;
    text-align: center;
    position: absolute;
    left: 195px;
    top: 88px;
}
.recip4{
    margin-bottom: 5px;
    background-color: var(--bg-accent);
    border-radius: 0.4rem;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 1px;
    text-align: center;
    position: absolute;
    left: 195px;
    top: 128px;
}
.alerts_divinput{
    position: absolute;
    height: 160px;
    width: 195px;
    display: grid;
    top: 20px;
    margin-left: 10px;
    justify-items: start;
}
label img{
    width: 36px;
    height: 36px;
    margin-right: .5rem;
    vertical-align: middle;
    margin-bottom: 5px;
}
.group_filter{
    background: var(--input-border);
    border-radius: 0.2rem;
    color: var(--text-inverse);   
    z-index: 15;
}
@media(min-width: 1920px) {
    main.table {
        width: calc(100% - 185px);
        left: 185px;
    }
    .table__body{
        left: 0px;
        margin-right: 0px;
        padding-right: 0%;
    }
  }
  @media (max-width: 1024px) {
    .hide-on-mobile {
      display: none;
    }
    .table__body{
        left: 0px;
        margin-right: 0px;
        padding-right: 0%;
    }
  }
.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 180px;
    background-color: var(--text-primary);
    color: var(--text-inverse);
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 5;
    bottom: 125%;
    left: 50%;
    margin-left: -90px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}
.alarm_count{
    background: var(--bg-primary);
    padding: 5px;
    border-radius: 0.3rem;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}
.alarm_count:hover{
    background: #e57915;
    cursor: pointer;
}
.alarms-div a:visited {
    color: inherit; /* Ensure the visited link inherits the text color */
}
.alerts_division{
    display: flex;
}
.relay-select{
    margin-bottom: 5px;
    background-color: var(--bg-accent);
    border-radius: 0.4rem;
    color: var(--text-primary);
    font-weight: bold;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center; 
    cursor: pointer;
}
.input{
    background: #011a37;
    color: var(--text-inverse);
    border-radius: 0.5rem;
    text-align: center;
    max-width: 11rem;
}
.tinfo, .binfo, .ctrlinfo{
    margin-top: 2.5rem;
}
.transactionInfoDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
}
.controlInfoDiv{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    max-width: 30rem;
    margin-top: 4rem;
}
.gw-actions{
    margin: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    padding: 2px;
}
.sc-actions{
    margin: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 30rem;
    padding: 2px;
}
.gwinfo{
    margin-top: 3rem;
    display:none;
}
.fmsinfo{
    margin-top: 3rem;
    display:none;
}